/*font-family: 'Playfair Display',
serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Roboto',
sans-serif;
font-family: 'Unbounded',
sans-serif;*/

:root{
    --primary-color:#6C63FF;
    --secondary-color:#F9F7FE;
    --primary-font:'Poppins',sans-serif;
    --secondary-font:'Playfair Display',serif;

}

.hero{
    text-align: center;
    background-color: var(--secondary-color);
    padding: 160px 20px;
}

.button{
    border:2px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
    font-family:var(--primary-font);
    font-size: 18px;
    padding: 15px 30px;
    line-height: 27px;
    width: 200px;
    font-weight: 500;
    text-decoration: none;
}

.hero p{
    font-family:var(--primary-font);
    font-size: 24px;
    font-weight: 400;
}

h1{
    font-family: var(--secondary-font);
    font-size: 96px;
    font-weight: bold;
}

h2{
    font-family:var(--secondary-font);
    font-weight: bold;
    font-size: 64px;
    margin-top: 140px;
}

h3{
font-family: var(--primary-font);
font-weight: bold;
font-size: 36px;
line-height: 2px;
}

h4{
font-family: var(--primary-font);
    font-weight: bold;
    font-size: 18px;
    line-height: 2px;
}

.project-headline {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    color: #272142;  
}

.project-paragraph{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height:30px;
}

.btn-project-details{
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
    padding: 10px;
    font-size: 16px;
    text-decoration: none;

}

img{
    border-radius: 4px;
}

.about-page h1{
    font-size:64px;
    
}

.about-page{
    margin: 140px 20px;
}

@media(max-width:820px){
    h1{
        font-size: 64px;
    }

    h2{
        font-size: 48px;
        text-align: center;
        margin-top: 50px;
    }

    .project-media{
        text-align: center;
    }

    h4{
        font-family: var(--primary-font);
        font-weight: bold;
        font-size: 18px;
        line-height:18px;
    }

    .about-page h1{
        text-align: center;
        font-size: 56px;
    }

    


}